a {
  text-decoration: none;
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.3em;
  height: 4em;
}

.Nav--logo {
  height: 2.5rem;
}

.Nav--container--desktop-menu {
  display: flex;
  justify-self: center;
  gap: 4em;
}

.Nav--item {
  color: black;
}

.Nav--item:hover{
  color: gray;
  transition: all .2s;
}
.Nav--container--desktop-login {
  justify-self: flex-end;
  padding: .6rem 1.3rem;
  border-radius: .4rem;
  border: none;
  background-color: #9ac8b9;
  font-size: 1rem;
  font-weight: 900;
  color: white;
}
.Nav--container--desktop-login:hover {
  background-color: #617770;
  transition: all .8s;
}

.Menu--mobile-toggle,
.Offcanvas {
  display: none;
}

.Hero {
  position: relative;
  height: 43em;
  width: 100%;
  box-shadow: 0 10px 15px black;
}
.Hero--video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Hero--text {
  position: absolute;
  max-width: 50rem;
  margin-left: 2rem;
  color: white;
  font-size: 3.6rem;
  bottom: 20%;
  animation: slidedownText 2s;

}
.Hero--text::after {
  display: block;
  content: ' anytime, anywhere';
  color: #9ac8b9;
}

@keyframes slidedownText {
  from {
    transform: translateY(-80px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .Nav--container--desktop-menu,
  .Nav--container--desktop-login {
    display: none;
  }

  .Menu--mobile-toggle {
    display: block;
    background-color: transparent;
    border: none;
  }
  
  .Offcanvas {
    display: block;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    animation: appear .7s;
  }
  
  .Nav--item {
    font-size: 1.2rem;
    opacity: 1;
    animation: slidedownText 1s;
  }

  .Offcanvas--list {
    display: flex;
    flex-direction: column;
    gap: .5em;
    list-style: none;
    margin-top: 2.5em;
  }

  .Hero {
    box-shadow: none;
  }

  .Hero--text {
    bottom: 30%;
    font-size: clamp(1.5rem, 7vw, 3.6rem);
    margin-left: 1rem;
  }

  .Hero--transition {
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, transparent 5%, white 95%);
    width: 100%;
    height: 9em;
  }
}