a {
  text-decoration: none;
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  padding-inline: 1.3em;
  height: 4em;
}

.Nav--logo {
  height: 2.5rem;
}

.Nav--container--desktop-menu {
  display: flex;
  justify-self: center;
  gap: 4em;
}

.Nav--item {
  color: black;
}

.Nav--item:hover{
  color: gray;
  transition: all .2s;
}
.Nav--container--desktop-login {
  justify-self: flex-end;
  padding: .6rem 1.3rem;
  border-radius: .4rem;
  border: none;
  background-color: #9ac8b9;
  font-size: 1rem;
  font-weight: 900;
  color: white;
}
.Nav--container--desktop-login:hover {
  background-color: #617770;
  transition: all .8s;
}

.Menu--mobile-toggle,
.Offcanvas {
  display: none;
}

@keyframes slidedownText {
  from {
    transform: translateY(-80px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .Nav--container--desktop-menu,
  .Nav--container--desktop-login {
    display: none;
  }

  .Menu--mobile-toggle {
    display: block;
    background-color: transparent;
    border: none;
  }
  
  .Offcanvas {
    display: block;
    position: fixed;
    background-color: red;
    width: 100%;
    height: 100%;
    animation: appear .7s;
  }
  
  .Nav--item {
    font-size: 1.2rem;
    opacity: 1;
    animation: slidedownText 1s;
  }

  .Offcanvas--list {
    display: flex;
    flex-direction: column;
    gap: .5em;
    list-style: none;
    margin-top: 2.5em;
  }
}