a {
  text-decoration: none;
}

.Nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 4em;
}

.Nav--div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.Nav--logo {
  height: 2.5rem;
}

.Nav--container--desktop-menu {
  display: flex;
  justify-self: center;
  gap: 4em;
}

.Nav--item {
  color: black;
}

.Nav--item:hover{
  color: gray;
  transition: all .2s;
}
.Nav--container--desktop-login {
  justify-self: flex-end;
  padding: .6rem 1.3rem;
  border-radius: .4rem;
  border: none;
  background-color: #9ac8b9;
  font-size: 1rem;
  font-weight: 900;
  color: white;
}
.Nav--container--desktop-login:hover {
  background-color: #617770;
  transition: all .8s;
}

.Menu--mobile-toggle,
.Offcanvas {
  display: none;
}

.Hero {
  position: relative;
  height: 43em;
  width: 100%;
  box-shadow: 0 10px 15px rgb(63, 63, 63);
}
.Hero--video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Main {
  display: flex;
  margin-top: 3em;
  margin-inline: auto;
  width: 80%;
}

.Main--description {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Main--description-text {
  max-width: 100%;
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: 1.7em;
}

.Main--description-text,
.Main--button {
  font-size: clamp(1rem, 1.7vw, 2rem);
}

.Main--img {
  height: auto;
  width: clamp(20em, 40vw, 50em);
}

.Main--button {
  margin-block: 1rem;
  padding: 1rem clamp(2rem, 5vw, 5rem);
  border: none;
  border-radius: 5px;
  background-color: #9ac8b9;
  color: white;
  align-self: flex-start;
}

.Main--button:hover {
  background-color: #617770;
  transition: all .2s ease-in;
}
.Hero--text {
  position: absolute;
  max-width: 50rem;
  margin-left: 2rem;
  color: white;
  font-size: 3.6rem;
  bottom: 20%;
  animation: slidedownText 2s;

}
.Hero--text::after {
  display: block;
  content: ' anytime, anywhere';
  color: #9ac8b9;
}

.Banner {
  background-color:#9ac8b9;
  width: 100%;
  display: flex;
  gap: 5em;
}

.Banner--list {
  list-style: none;
  display: flex;
  gap: 6em;
}

.Banner--list-item {
  font-size: 1.2rem;
  width: 12em;
  font-weight: bold;
  color: #313d39;
}

@keyframes banner {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1000%);
  }
}
@keyframes slidedownText {
  from {
    transform: translateY(-80px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.Container {
  position: relative;
  margin-top: 8em;
  width: 100vw;
  height: 90vh;
}

.Container--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 80%;
}
.Container--title-div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.Container--title {
  font-size: clamp(4rem, 20vw, 15rem);
  color: rgb(58, 95, 80);
}

.Home {
  display: flex;
  width: 70%;
  margin: 5em auto;
}

.Home--section {
  max-width: 40rem;
}
.Home--section-subtitle {
  font-size: clamp(1rem,2vw,2rem);
}
.Home--section-details {
  font-size: clamp(.7rem,1.8vw,1.3rem);
  max-width: 30rem;
  line-height: 1.7em;
}

.Home--section-img {
  width: clamp(20em, 30vw, 50em);
}
@media (max-width: 670px) {
  .Main {
    flex-direction: column-reverse;
  }

  .Main--img {
    height: auto;
    width: clamp(15rem, 80vw, 30rem);
  }
}

@media (max-width: 768px) {
  .Nav--container--desktop-menu,
  .Nav--container--desktop-login {
    display: none;
  }

  .Menu--mobile-toggle {
    display: block;
    background-color: transparent;
    border: none;
  }
  
  .Offcanvas {
    display: block;
    position: fixed;
    background-color: white;
    z-index: 99999;
    width: 100%;
    height: 100%;
    animation: appear .7s;
  }
  
  .Nav--item {
    font-size: 1.2rem;
    opacity: 1;
    animation: slidedownText 1s;
  }

  .Offcanvas--list {
    display: flex;
    flex-direction: column;
    gap: .5em;
    list-style: none;
    margin-top: 4.5em;
  }

  .Hero {
    box-shadow: none;
  }

  .Hero--text {
    bottom: 30%;
    font-size: clamp(1.5rem, 7vw, 3.6rem);
    margin-left: 1rem;
  }

  .Hero--transition {
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, transparent 5%, white 95%);
    width: 100%;
    height: 9em;
  }

  .Main--description-text {
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.3em;
  }

  .Main--button {
    align-self: center;
  }

  .Home {
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
  }
  
  .Home--section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Home--section-subtitle {
    font-size: 1rem;
  }

  .Home--section-details {
    font-size: .9rem;
  }
}